extends layout.pug

block content
    header
        h1 Chi Siamo
        p Scopri di più sul nostro ristorante e sulla nostra passione per la cucina italiana.
    section
        h2 La Nostra Storia
        p Fondato nel 2022, Ristorante Italiano nasce dalla passione per la cucina tradizionale italiana. Il nostro obiettivo è offrire un'esperienza culinaria autentica e indimenticabile.
    section
        h2 Il Nostro Team
        p Il nostro team è composto da chef esperti e appassionati che lavorano insieme per creare piatti deliziosi utilizzando ingredienti freschi e di alta qualità.